<h4><%= current_user.username %>'s Chart of Accounts:</h4>

<ul>
  <% @classifications.each do |classification| %>
    <h5><%= classification.name %>:</h5>
    <% @accounts.each do |account| %> 
      <% if account.classification == classification %>
        <li><%= link_to "#{account.name}: #{account.amount}", user_account_path(current_user, account) %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>