<% journals.each do |journal| %>
  <div class="well">
    <strong>Debits:</strong>
    <% journal.debit_accounts.each_with_index do |debit_account, index| %>
      <% if debit_account != "" %>
        <p><%= "#{find_account_name(debit_account)}: #{number_with_delimiter(journal.debit_amounts[index], delimiter: ",")}" %></p>
      <% end %>
    <% end %>
    <strong>Credits:</strong>
    <% journal.credit_accounts.each_with_index do |credit_account, index| %>
      <% if credit_account != "" %>
        <p><%= "#{find_account_name(credit_account)}: #{number_with_delimiter(journal.credit_amounts[index], delimiter: ",")}" %></p>
      <% end %>
    <% end %>
    <p><strong>Description:</strong> <%= journal.description %></p>
  </div>
<% end %>

<%= link_to "<-- Back to Chart of Accounts", chartofaccounts_path %>