<h3>
  <%= @account.name %>
  <small class="pull-right"><%= link_to "[Edit Account Name]", edit_user_account_path(current_user, @account) %></small>
</h3> 
<h4>Current Amount: <%= number_with_delimiter(@account.amount, delimiter: ",") %></h4>

<%= render 'shared/journal', journals: @journals %>